{% extends "layout.html" %}

{% block body %}
<div class="circles">
    <div class="circle circle-1"></div>
    <div class="circle circle-2"></div>
    <div class="circle rectangle"></div>
    <div class="circle square"></div>
</div>
<div class="container" id="book_container">
    <div class="row">
        <div class="col-md-3  col-sm-10 image_container" style="{{book_cover_url}}">
        </div>
        <div class="col-md-9 col-sm-12">

            <div class=" author_container">
                <span class="title">
                {{book_dict["best_book"]["title"]}}
                    </span>
                <p class="author">
                    by {{book_dict["best_book"]["author"]["name"]}}</p>
                <hr class="bolder_hr">
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12" style="text-align:center">

                    <div class="glass_background rating_container">{{book_dict["average_rating"]}}/5 <br> <span
                            class="smaller_text">average
                            rating</span>
                    </div>
                    <div class="glass_background rating_container">{{book_dict["ratings_count"]}} <br> <span
                            class="smaller_text">reviews</span></div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="youtube_video_container">
                        <iframe
                                width="560"
                                height="315"
                                src="https://www.youtube.com/embed/{{youtube_video_id}}"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen
                        ></iframe>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <br>
    <div class="blurred_more_container" id="read_more_container">
        <button onclick="myFunction()" id="myBtn">Read more</button>
    </div>

    <div class="row" style="color:white" id="review_container">
        <div class="col-sm-12 col-md-4" id="positive_container">
            <h1 class="review_title">Positive</h1>
            <p class="review_author" id="pos_auth"></p>
            <p class="review" id="pos_rev">

            </p>
        </div>
        <div class="col-md-4 col-sm-12" id="neutral_container">
            <h1 class="review_title">Neutral</h1>
            <p class="review_author" id="neu_auth"></p>
            <p class="review" id="neu_rev">

            </p></div>
        <div class="col-sm-12 col-md-4" id="negative_container">
            <h1 class="review_title">Negative</h1>
            <p class="review_author" id="neg_auth"></p>
            <p class="review" id="neg_rev">

            </p>
        </div>

    </div>

</div>

</div>

<script>
    function myFunction() {
        var btnText = document.getElementById("myBtn");
        var book_container = document.getElementById("book_container");
        if (btnText.innerHTML === "Read less") {
            btnText.innerHTML = "Read more";
            book_container.style.height = "80vh";
            book_container.style.overflow_y = "hidden";
        } else {
            btnText.innerHTML = "Read less";
            book_container.style.overflow_y = "visible";
            book_container.style.height = "auto";
        }
    }
    var bookId = {{book_id}}

    $(document).ready(function () {
        $("#read_more_container").hide();
        $("#review_container").hide();
        $("#positive_container").hide();
        $("#neutral_container").hide();
        $("#negative_container").hide();

        $.getJSON("/get_reviews?book_id=" + bookId, function (result) {
            console.log(result);
            for (key in result["result"]) {
                $("#read_more_container").show();
                $("#review_container").show();

                if (key == 0)
                    console.log(key)
                    document.getElementById("positive_container").style.display = "block";
                    document.getElementById("pos_auth").textContent = "by " + result["result"][0]["author"];
                    document.getElementById("pos_rev").textContent = result["result"][0]["text"];
                if (key == 1)
                    console.log(key)
                    document.getElementById("neutral_container").style.display = "block";
                    document.getElementById("neu_auth").textContent = "by " + result["result"][1]["author"];
                    document.getElementById("neu_rev").textContent = result["result"][1]["text"];
                if (key == 2)
                    console.log(key)
                    document.getElementById("negative_container").style.display = "block";
                    document.getElementById("neg_auth").textContent = "by " + result["result"][2]["author"];
                    document.getElementById("neg_rev").textContent = result["result"][2]["text"];

            };
        });
    });
</script>
{% endblock %}

