{% extends "layout.html" %}

{% block body %}
<div class="circles">
    <div class="circle circle-1"></div>
    <div class="circle circle-2"></div>
    <div class="circle rectangle"></div>
    <div class="circle square"></div>
</div>
<div class="container book_holder">
    <div class="row">
        <div class="col-md-3  col-sm-12 image_container" style="{{book_cover_url}}">
        </div>
        <div class="col-md-9 col-sm-12">

                <div class=" author_container">
                <span class="title">
                {{book_dict["best_book"]["title"]}}
                    </span>
                    <p class="author">
                        by {{book_dict["best_book"]["author"]["name"]}}</p>
                    <hr class="bolder_hr">
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="glass_background rating_container">{{book_dict["average_rating"]}}/5 <br> <span
                                class="smaller_text">average
                            rating</span>
                        </div>
                        <div class="glass_background rating_container">{{book_dict["ratings_count"]}} <br> <span
                                class="smaller_text">reviews</span></div>
                    </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row" style="color:white">
        <div class="col">
            <h1 class="review_title">Positive</h1>
            <p class="review">
                {{reviews[0].text}}
            </p>
        </div>
        <div class="col">
            <h1 class="review_title">Neutral</h1>
            <p class="review">
                {{reviews[1].text}}
            </p></div>
        <div class="col">
            <h1 class="review_title">Negative</h1>
            <p class="review">
                {{reviews[2].text}}
            </p>
        </div>
    </div>
    </div>
</div>

{% endblock %}

